<div class="content">
    <div class="grid gap g2">
        <div>
            <!--- own polls-->
            <div style="background-color:white;margin-bottom:7px;padding: 7px;">
                <h1>Eigen pols</h1>
                <a class="button" href="/AddPol">Pol Toevoegen</a>
                <table>
                    <tr>
                        <td>Pol1</td>
                    </tr>
                    <tr>
                        <td>pol2</td>
                    </tr>
                    <tr>
                        <td>Pol3</td>
                    </tr>
                </table>
            </div>
            
            <!-- polrequests -->
            <div style="background-color:white;padding: 7px">
                <h1>Polaanvragen</h1>
                <table>
                    <tr>
                        <td>Pol1</td>
                    </tr>
                    <tr>
                        <td>pol2</td>
                    </tr>
                    <tr>
                        <td>Pol3</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- friends -->
        <div style="background-color:white;padding: 7px">
            <div>
                <h1>Vrienden</h1>
                <ul>
                    <li>Maat 1</li>
                    <li>Maat 1</li>
                    <li>Maat 1</li>
                    <li>Maat 1</li>
                </ul>
            </div>
        </div>
    </div>
</div>