<div class="content">
    <!-- tegels -->
    <div class="grid g3 bottom_space">
        <div class="tegel" style="background-color: #FF9800">
            <div class="icon"><i class="fas fa-users"></i></div>
            <div class="data">
                <h1>Users</h1>
                <span>6</span>
            </div>
        </div>
        <div class="tegel" style="background-color: #00BCD4">
            <div class="icon"><i class="fas fa-folder-open"></i></div>
            <div class="data">
                <h1>Polls</h1>
                <span>42</span>
            </div>
        </div>
        <div class="tegel" style="background-color: #844de4">
            <div class="icon"><i class="fas fa-database"></i></div>
            <div class="data">
                <h1>Friends</h1>
                <span>8.2MB</span>
            </div>
        </div>
    </div>
                
    <!-- Info -->
    <div class="grid g4 bottom_space">
        <div style="background-color:white;" class="tegel colspan3">
            <h1>Welkom to pollemy</h1>
            With pollemy you can create questions and ask your friends to answer them.
        </div>
        <div style="background-color:white;" class="tegel" id="timercontrole">
            Please create a user and start asking!
        </div>
    </div>
</div>